  <p class="name">
    <%= f.text_field :name, :autofocus => true %>
    <%= f.label :name %>
  </p>
  <p class="email">
    <%= f.email_field :email %>
    <%= f.label :email %>
  </p>
  <p class="company">
    <%= f.text_field :company %>
    <%= f.label :company %>
  </p>
  <p class="phone">
    <%= f.telephone_field :phone %>
    <%= f.label :phone %>
  </p>
  <p class="subject">
    <%= f.text_field :subject %>
    <%= f.label :subject %>
  </p>
  <p class="body">
    <%= f.label :body %>
    <%= f.text_area :body %>


