<section>
<h1>Resend confirmation instructions</h1>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name),
           :html => { :class => 'form', :method => :post }) do |f| %>
<%= devise_error_messages! %>
<div style = "email">
  <%= f.email_field :email, :autofocus => true %>
  <%= f.label :email %>
</div>

<div class="submit">
  <%= f.submit "Resend confirmation instructions", :class => "sbmt orange"  %>
</div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</section>