<section>
<h1>Resend unlock instructions</h1>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), 
   :html => { :method => :post, :class => 'form' }) do |f| %>
<%= devise_error_messages! %>

<div class="email">
  <%= f.email_field :email, :autofocus => true %>
  <%= f.label :email %>
</div>

<div>
  <%= f.submit "Resend unlock instructions", :class => "sbmt orange"  %>
</div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</section>
