<%= form_for(@user, :html => {:class => "form"} ) do |f| %>
   <p class = "name">
     <%= f.label :name , :autofocus => true %><br />
     <%= f.text_field :name %>
   </p>
 
  <p class = "email">
    <%= f.label :email %><br />
    <%= f.email_field :email, :type =>"email" %>
  </p>
 
  <% if action_name == "new" %>
     <p class= "password">
       <%= f.label :password, "New password" %>
       <%= f.password_field :password %>
     </p>

     <p class="password_confirmation">
       <%= f.label :password_confirmation %><br />
       <%= f.password_field :password_confirmation %>
     </p>
    <% end %>

<p>
    <%= f.submit, :class => "sbmt orange"  %>
</p>
<% end %>
