<%= form_for(@user) do |f| %>
   
  <p><%= f.label :password, "New password" %><br />
  <%= f.password_field :password %></p>
 
  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>
 
  <div class="actions">
    <%= f.submit "Change password" %>
  </div>
<% end %>