<section>
<h1>All Users</h1>

<table id="hor-minimalist-a" cellspacing="0" cellpadding="0">
     <thead>
        <tr>
            <th>User name<th>
            <th>Email</th>
            <th></th>
		  <th></th>
        </tr>
     </thead>
     <tbody>
        <% @users.each do |user| %>
        <tr>
         	<td><%=user.name %></td>
         	<td><%=user.email %></td>
         	<td><%= link_to 'Show', user %></td>
			<td><%= link_to "Edit", edit_user_registration_path(user) %></td>
            <td><%= link_to "Delete User", user, :method => :delete, :confirm => "Are you sure you want to delete #{user.email}?" %></td>
        </tr>
     <% end %>
    </tbody>
</table>

<br />

<p><%= link_to 'New User', new_user_registration_path %>
</section>
