<section>
<h1>Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), 
  :html => { :method => :put, :class => 'form' }) do |f| %>

<%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  
  <div class="password">
    <%= f.password_field :password, :autofocus => true %>
    <%= f.label :password, "New password" %>
  </div>

  <div class="password_confirmation">
  <%= f.password_field :password_confirmation %>
  <%= f.label :password_confirmation, "Confirm new password" %>
  </div>

  <div clas="submit">
    <%= f.submit "Change my password" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</section>