<h1 style="color: #03073e;">Page Administration</h1>
<br />

<table id= "vtab" width="100%">
  <col style="width:25%">
  <col style="width:25%">
  <col style="width:10%">
  <col style="width:10%">
  <col style="width:10%">
  <col style="width:20%">
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Admin?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.name %></td>
    <td><%= page.title %></td>
    <td><%= page.admin? ? "TRUE" : "FALSE" %>
    <td><%= link_to 'Show', page %>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_page_path %>
