<section>
<h1>New page</h1>

<% if @page.errors.any? %>
    <div id="flash_alert">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
 <% end %>

 <%= form_for(@page, :html => { :class => 'form'}) do |f| %>
 <%= render :partial => "form", :locals => { :f => f } %>
 <p>
   <%= f.submit "Create This Page", :class => "sbmt orange" %>
</p>
<% end %>
<br />
<%= link_to 'Back', pages_path %>
</section>