<p id="notice"><%= notice %></p>

<h1>Show/Edit Pages</h1>
<br />
<p><strong>Click on field to update content</strong></p><br />

<p>
  <b>Name:</b>
  <%= best_in_place @page, :name %>
</p>

<p>
  <b>Title:</b>
  <%= best_in_place @page, :title %>
</p>

<p>
  <b>Body:</b>
  <%= best_in_place @page, :body, type: :textarea %>
</p>

<p>
	<b>Administrator:</b>
	<%= best_in_place @page, :admin, type: :checkbox, collection: %w[FALSE TRUE] %>
</p>
<br />

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
