  <p class="url">
    <%= f.text_field :url, :autofocus => true %>
    <%= f.label :url %>
    </p>
  <p class="title">
    <%= f.text_field :title %>
    <%= f.label :title %>
  </p>
  <p class="description">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
    </p>
  <p class = "category_id">
     <%= f.collection_select :category_ids, Category.order('title DESC'),:id, 
        :title,{}, {:multiple => true } %>
     <%= f.label :category_id, "Category" %>
  </p>

