<section>
<h1>Login</h1>
<p>Enter your login credentials</p>

<%= form_for(resource, :as => resource_name, :html => {:class => 'form'},:url => session_path(resource_name)) do |f| %>
<p class = "email">
  <%= f.email_field :email , :autofocus => true %>
  <%= f.label :email %>

</p>

<p class = "password">
  <%= f.password_field :password %>
  <%= f.label :password %>

</p>

<% if devise_mapping.rememberable? -%>
    <p class = "remember">
    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    </p>
 <% end %>
 
<p class = "submit">
  <%= f.submit "Login" %>
</p>
<% end %>

<%= render :partial => "devise/shared/links" %>
</section>
