<ul id="log_nav">
  <% if user_signed_in? %>
     <li><strong><%= current_user.email %></strong>  </li>
          <%= link_to "<button class='pink'>Logout</button>".html_safe, destroy_user_session_path, :method => :delete %>
   <% else %>
          <%= link_to "<button class='green'>Login</button>".html_safe, new_user_session_path, :class => "green" %>
   <% end %>
   <% if user_signed_in? %>
          <%= link_to "<button class='teal'>Edit User Profile</button>".html_safe, edit_user_registration_path %>
   <% else %>
          <%= link_to "<button class='orange'>New User Profile</button>".html_safe, new_user_registration_path %>
   <% end %>
</ul>
