<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><%= @pagetitle || (@page && @page.title) || 'Learn30' %></title>
    <meta name="title" content="Learn30 Test Application" />
    <meta name="description" content="Sample Rails Application" />
    <meta name="author" content="paul" />

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
  <%= render 'layouts/navigation' %>
  <br />

  <div id='pagewrapper'>
         <header>
			<p>Learning Rails Sample Application</p>
         <nav>
				<ul>
          <% @tabs.each do |page| -%>
            <li><%= link_to page.navlabel, view_page_path(page.name) %>
          <% end -%>
  			</ul>
         </nav>
		</header>
      <div id='content'>
      <%= render 'layouts/messages' %>
      <%= yield %>
		</div>
		<footer>
			<p>Learning Rails Sample Application</p>
      </footer>
  </body>
</html>
